/* Styles go here */


body {
    background-color: #cccccc;
}

.button1 {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #b82b2b);
  background-image: -moz-linear-gradient(top, #d93434, #b82b2b);
  background-image: -ms-linear-gradient(top, #d93434, #b82b2b);
  background-image: -o-linear-gradient(top, #d93434, #b82b2b);
  background-image: linear-gradient(to bottom, #d93434, #b82b2b);
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 2px #700000;
  -moz-box-shadow: 0px 0px 2px #700000;
  box-shadow: 0px 0px 2px #700000;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
   padding: 5px ;
  text-decoration: none;
  border-radius: 4px;
  float:left;
    margin-bottom:12px;
    margin-right:12px;
}



.button1:hover {
  background: #fc3c3c;
  background-image: -webkit-linear-gradient(top, #fc3c3c, #d93434);
  background-image: -moz-linear-gradient(top, #fc3c3c, #d93434);
  background-image: -ms-linear-gradient(top, #fc3c3c, #d93434);
  background-image: -o-linear-gradient(top, #fc3c3c, #d93434);
  background-image: linear-gradient(to bottom, #fc3c3c, #d93434);
  text-decoration: none;
  cursor: pointer;
  border: 1px solid;
  box-shadow: inset 0 0 0px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}

#wrapper {
    width:300px;
    margin:20px auto;
    padding:20px;
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 0 5px rgba(0, 0, 0, .3);
    border: 1px solid #6f212f;
}




label {
     float:right;
    padding-right: 15px;
    text-indent: 5px;
    color: #9E6100;
}




ul {
    list-style-type:none;
    list-style-position:outside;
    margin:10px 0px;
    padding:0px;
    clear:both;
     color: #9E6100;
}
li {
    background:  #F2F5C2

;
    margin:5px 0px;
    line-height:1.6;
    padding:10px;
   
}
li:nth-child(odd) {
    background: #F2F5C2

;
}
li a {
    font-size:small;
}



input[type=text], select {
   
    padding: 5px 5px;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
     width: 150px;
    height: 30px;
}


input[type=submit] {
  
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
   margin: 15px;
    padding: 5px 10px ;
   width: 70px;
    height: 30px;
    
   
}
input[type=submit]:hover {
    background-color: #00cc00;
    border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}


div {
    border-radius: 5px;
    background-color: #E6EBB8;
    padding: 20px;
   
}


