/* Styles go here */
div.paragraph { 
	float: left;
	font-family: Comic Sans MS, Calibri, serif; 
	color: #fff;
	background-color: transparent;
	padding:32px;
}



p {       
	color: #fff;
	font-family: Comic Sans MS, Calibri, serif; 
	
}

h1 {
	 
		font-family: HanziPen TC, Calibri, serif; ;
  	font-style: italic, bold;
	color: #fff;
  
}



button2 {
  background-image: url("https://cdn.pbrd.co/images/61bOViCHY.png" );
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 50px;
  width: 200px;
  border: none;
   background-color: #4CAF50;
}

button span {
  display: none;
  appearance: none;
}






.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


.img hover: {
	font-size: 55%;
    background-color: #00cc00;
    border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
    filter: green(100%);
    transition: 0.2s;
}





body {
    background-color: #333300;
}

.button1 {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #b82b2b);
  background-image: -moz-linear-gradient(top, #d93434, #b82b2b);
  background-image: -ms-linear-gradient(top, #d93434, #b82b2b);
  background-image: -o-linear-gradient(top, #d93434, #b82b2b);
  background-image: linear-gradient(to bottom, #d93434, #b82b2b);
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 1px #700000;
  -moz-box-shadow: 0px 0px 1px #700000;
  box-shadow: 0px 0px 1px #700000;
  font-family: Arial;
  color: #ffffff;
   padding: 5px ;
  text-decoration: none;
  border-radius: 4px 4px 4px 4px;
  float:left;
    margin-bottom:12px;
    margin-right:12px;
    font-size: 60%
}



.button1:hover {
  background: #fc3c3c;
  background-image: -webkit-linear-gradient(top, #fc3c3c, #d93434);
  background-image: -moz-linear-gradient(top, #fc3c3c, #d93434);
  background-image: -ms-linear-gradient(top, #fc3c3c, #d93434);
  background-image: -o-linear-gradient(top, #fc3c3c, #d93434);
  background-image: linear-gradient(to bottom, #fc3c3c, #d93434);
  text-decoration: none;
  cursor: pointer;
  border: 1px solid;
  box-shadow: inset 0 0 0px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 1px #427388; 
    font-size: 55%
    
}



#wrapper {
    width:370px;
    margin:20px auto;
    float:right;
    padding:20px;
    border-radius: 7px 7px 7px 7px;
   box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 0 5px rgba(0, 0, 0, .3);
    border: 1px solid #6f212f;
}




label {
     float:right;
    padding-left: 0%;
    text-indent: 5px;
    color:  #ffffe6;
    cursor: pointer;
}


h2 {
    color: #ffffe6;
}


ul {
    list-style-type:none;
    list-style-position:outside;
    margin:10px 0px;
     padding-left: 0%;
    padding:0px;
    clear:both;
     color:  #ffffe6;
	 
    
}
li {
    background:    rgb(217,217,191);
    margin:5px 0px;
    line-height:1.6;
    padding:10px;
   
}
li:nth-child(odd) {
    background: #666600 background: rgb(76, 175, 80);;
}
li a {
    font-size:small;
}





input[type=text], select {
   
    padding: 5px 5px;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
     width: 150px;
    height: 30px;
}

/*add button*/
input[type=submit2] {
  background:url(https://cdn.pbrd.co/images/oAymv0R.png);
   background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  
  border: none;
   

    background-color:  #009900;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   margin: 1px;
    padding: 5px 10px ;
   width: 40px;
    height: 20px;
    
   
}
/*hover for add button*/
input[type=submit2]:hover {
    background-color: #00e600;
    border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}




input[type=submit] {
    background-color: #00cc00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   margin: 1px;
    padding: 5px 10px ;
   width: 50px;
    height: 30px;
    
   
}
input[type=submit]:hover {
    background-color: #00e600;
    border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}


@-webkit-keyframes background {
  0% { background-color: #59fff9; }
  25% { background-color: #59ffc7; }
  50% { background-color: #59ffae; }
  75% { background-color: #59ff88; }  
  100% { background-color: #0ef750; }
}

@keyframes background{
  0% { background-color: #59fff9; }
  25% { background-color: #59ffc7; }
  50% { background-color: #59ffae; }
  75% { background-color:  #59ff88; }  
  100% { background-color: #0ef750; }
}
div {
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
	
   
}





* {
  margin: 0px;
  padding: 0px;
}


@-webkit-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@-moz-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@-o-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

#back {
  background: url(http://www.tranexnet.com/img/back.png) repeat 20% 20%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: -1;
  -webkit-animation-name: backgroundAnimate;
  -webkit-animation-duration: 400s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: backgroundAnimate;
  -moz-animation-duration: 4.5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: backgroundAnimate;
  -o-animation-duration: 400s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: backgroundAnimate;
  animation-duration: 400s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#front {
  background: url(http://www.tranexnet.com/img/front.png) repeat 35% 35%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
  -webkit-animation-name: backgroundAnimate;
  -webkit-animation-duration: 200s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: backgroundAnimate;
  -moz-animation-duration: 200s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: backgroundAnimate;
  -o-animation-duration: 200s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: backgroundAnimate;
  animation-duration: 200s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

